body {
  background: #fff;
  color: #333;
  font-family: "proxima-nova-1","proxima-nova-2", "helvetica neue", sans-serif;
  line-height: $lh;
  font-size: em(18);
  padding: 0 lh(3);
	border-top: 5px solid $red;
}

section.container {
  @include outer-container;
	background: url("/images/shadowing.png") center top no-repeat;
	border-top: 1px solid #eee;	
	padding-top: lh();
	
	h1 {
		font-size: em(48, 18);
		font-weight: 600;
		margin-bottom: lh(.5);
		line-height: lh();
		margin-top: 0;
		padding-top: 0;
	}
	
	
	h3, strong {
		font-family:"skolar-1","skolar-2",serif;
		font-style: italic;
		font-weight: 400;
	}	
}


header {
  margin: lh(3) 0 lh(2.5) 0;
  text-align: center;

  h1 {
    font-size: em(48, 18);
    font-weight: 100;
    color: black;
    line-height: 1em;
    margin: 0;
  }

  h2 {
    font-size: em(72, 18);
    font-weight: 800;
    margin: 0 0 lh(.75) 0;
    color: $red;
    line-height: 1em;
    margin: 0;
  }
}

.content-container {
	@include span-columns(10);
}

a {
  padding-bottom: em(20, 18);
  position: relative;
  text-decoration: none;
  color: #5d5d5d;
  @include transition;

  &:hover {
    color: $red;
  }

  &:after {
    color: #bbb;
    font-size: em(12, 18);
    text-transform: uppercase;
    letter-spacing: 1px;
    @include position(absolute,  0 0 0px 0px);
  }

  &.site:after {
    content: "site";
  }

  &.video:after {
    content: "video";
  }

  &.article:after {
    content: "article";
  }

  &.book:after {
    content: "book";
  }

  &.app:after {
    content: "app";
  }

  &.code:after {
    content: "code";
  }
}

h2 {
  font-size: em(18, 18);
  font-weight: bold;
  margin: 0 0 10px 0;
}

ul {
  list-style: none;
  margin: 0 0 em(2.5,18) 0;
  padding: 0;

  li {
    font-weight: normal;
    margin: 0 0 1em 0;
    position: relative;

    &.star {
      a {
        &:before {
          content: "★";
          display: block;
          @include position(absolute,  -.25em 0 0 -2em);
          font-size: em(12, 18);
          color: #ccc;
          @include transition;
        }

        &:hover:before {
          color: $red;
        }
      }
    }
  }

}


.column {
  @include span-columns(6);

  h2 {
    border-top:3px solid #f3f3f3;
    padding-top: lh(.5);
    margin-top: lh(2);

    &:first-child {
      margin-top: 0;
    }
  }
}

aside {
  margin-left: flex-gutter();
	@include omega;
  @include span-columns(2);

	li {
		margin-bottom: 0;
	}
	
	a {
		margin-bottom: 0;
		color: #ccc;
	}

	h2 {
    border-top:3px solid #f3f3f3;
    padding-top: lh(.5);
    margin-top: lh(2);
  }
	
	li.trail-map {
		border: 1px solid #ccc;
		padding: 0;
		
		&:hover {
			background-color: $red;
			@include transition;
			border: 1px solid white;
		}
		
		a {
			color: $red;
			display:block;
			width: 100%;
			padding: .5em;
			text-align: center;
			
			&:hover {
				color: white;
			}
		}
	}
}



body.home section.container {
	background: none;
	border-top: none;
}

header a:hover {
	h1 {color: $red; @include transition;}
	h2 {color: black; @include transition;}
}

section.footer {
	background: none;
	border-top: none;
}

#sign-up {
	margin: lh(3) 0 lh(5) 0;
	background-color: $red;
	@include button(simple, $red);
	width: 100%;
	
	a {
		display: block;
		padding: .5em 0;
		line-height: lh(2);
	}
	
	h3 {
		text-align: center;
		color: white;
		font-size: em(42, 18);
		font-weight: 600;
	  font-family: "proxima-nova-1","proxima-nova-2", "helvetica neue", sans-serif;
		font-style: normal;
	}
}
