body.principles {
	
	.content-container {
		
    li {
      @include span-columns(6);
			vertical-align: baseline;
			display: block;
			@include nth-omega(2n);
      
      section {
				font-size: em(20, 18);
				h3 {
					margin: 0;
          text-align: center;
				}
        
        img {
         border: 1px solid #eee;
         max-width: 80%;
         margin: lh() 10% 0 10%;
         opacity: .75;
        }
				
        p {
					margin-top: .5em;
			   }
			}

	  }
	}
}
