body.principles {
	
	.content-container {
		
    li {
      @include span-columns(1 of 2);
			vertical-align: baseline;
			display: block;
			@include nth-omega(2n);

  
 			header {
      	@include span-columns(1 of 3);
				img {border: 1px solid #eee; max-width: 100%; }
				margin-top: 0;
			}

      section {
      	@include span-columns(2 of 3);
				font-size: em(20, 18);
				@include omega;
				h3 {
					margin: 0;
				}
				p {
					margin-top: .5em;
				}
			}

	  }
	}
}
