body.principles {
  ul {
    li {
      @include row;
      @include span-columns(3);
      @include nth-omega(4n);

      &:nth-child(4n+1) {
        clear: both;
      }

      header {
        img {
          border: 1px solid #000;
          max-width: 100%;
          @include span-columns(1 of 3);
        }

        h3 {
          @include span-columns(2 of 3);
          font-size: 32px;
          margin-top: 24px;
        }
      }
    }
  }
}
