body.type {
	.content-container {

		section.line-height {
			@include span-columns(12);
			border-bottom: 3px solid #eee;
			padding-bottom: lh();
			margin-bottom: lh();
			
			hgroup.title {
			
				h2 {
					font-size: em(36, 18);;
				}
			
				p {
					font-style: italic;
					font-weight: 100;
				}
			}
			
			hgroup.example {				
				@include span-columns(3);
				
				#example-1 {
					line-height: 1em;
				}
				
				#example-2 {
					line-height: 1.3em;
				}
				
				#example-3 {
					line-height: 1.6em;
				}
				
				#example-4 {
					line-height: 2em;
				}
			}
		}
		
	  section.anatomy {
	    @include span-columns(12);
			border-bottom: 3px solid #eee;
			padding-bottom: lh();
			margin-bottom: lh();
			
			hgroup {
				@include span-columns(6);
			}

	    img {
	      @include span-columns(6);
	      max-width: 100%;
	    }

	    ul {
	      @include span-columns(6);
	    }

	    h3 {
	      margin-bottom: 0;
	    }

	    p {
	      margin-top: 6px;
	    }
	  }

	  ul.column-types {

	    li {
	      @include span-columns(4);

	      img {
	        max-width: 100%;
	      }
	    }
	  }
	}
}

body.type {
	section.anatomy {
		img { @include span-columns(12); }
		ul { @include span-columns(12); }
		hgroup { @include span-columns(12); }
	}
	hgroup.example {
		@include span-columns(6);
	}
}