@import "bourbon/bourbon";
@import "neat/neat";
@import "principles";

body {
  background: #fafafa;
  color: #333;
  font-family: "proxima-nova-1","proxima-nova-2", "helvetica neue", sans-serif;
  margin: 50px;
  padding: 0;
}

section.container {
  @include outer-container;
}

a {
  color: #AD141E;
  padding-bottom: 2px;
  position: relative;
  text-decoration: none;

  &:hover {
    border-bottom: 1px solid #d30;
  }

  &:after {
    color: #bbb;
    font-size: 12px;
    margin: 0 0 0 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    @include position(absolute,  4px 0 0px 0);
  }

  &.site:after {
    content: "site";
  }

  &.video:after {
    content: "video";
  }

  &.article:after {
    content: "article";
  }

  &.book:after {
    content: "book";
  }

  &.app:after {
    content: "app";
  }

  &.code:after {
    content: "code";
  }
}


header {
  margin: 0 0 100px 0;

  h2 {
    font-size: 56px;
    font-weight: 100;
    margin: 0 0 10px 0;
  }
}

h1 {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.column {
  @include span-columns(6);
}

h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 10px 0;
}

ul {
  list-style: none;
  margin: 0 0 42px 0;
  padding: 0;

  li {
    font-size: 18px;
    font-weight: normal;
    margin: 0 0 10px 0;
    position: relative;

    &.star {
      &:before {
        content: "★";
        display: block;
        @include position(absolute,  2px 0 0 -1.5em);
        font-size: 10px;
        color: #aaa;
      }
    }
  }
}
