@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font: 1em "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.618em; }

body.principles ul li {
  zoom: 1;
  display: block;
  display: block;
  float: left;
  margin-right: 2.358%;
  width: 23.232%; }
  body.principles ul li:before, body.principles ul li:after {
    content: "";
    display: table; }
  body.principles ul li:after {
    clear: both; }
  body.principles ul li:last-child {
    margin-right: 0; }
  body.principles ul li:nth-child(4n) {
    margin-right: 0; }
  body.principles ul li:nth-child(4n+1) {
    clear: both; }
  body.principles ul li header img {
    border: 1px solid #000;
    max-width: 100%;
    display: block;
    float: left;
    margin-right: 10.148%;
    width: 26.568%; }
    body.principles ul li header img:last-child {
      margin-right: 0; }
  body.principles ul li header h3 {
    display: block;
    float: left;
    margin-right: 10.148%;
    width: 63.284%;
    font-size: 32px;
    margin-top: 24px; }
    body.principles ul li header h3:last-child {
      margin-right: 0; }

body.grid section.anatomy {
  zoom: 1;
  display: block;
  display: block;
  float: left;
  margin-right: 2.358%;
  width: 65.881%;
  margin-bottom: 40px; }
  body.grid section.anatomy:before, body.grid section.anatomy:after {
    content: "";
    display: table; }
  body.grid section.anatomy:after {
    clear: both; }
  body.grid section.anatomy:last-child {
    margin-right: 0; }
  body.grid section.anatomy img {
    display: block;
    float: left;
    margin-right: 3.579%;
    width: 48.211%;
    max-width: 100%; }
    body.grid section.anatomy img:last-child {
      margin-right: 0; }
  body.grid section.anatomy ul {
    display: block;
    float: left;
    margin-right: 3.579%;
    width: 48.211%; }
    body.grid section.anatomy ul:last-child {
      margin-right: 0; }
  body.grid section.anatomy h3 {
    margin-bottom: 0; }
  body.grid section.anatomy p {
    margin-top: 6px; }
body.grid ul.column-types {
  zoom: 1;
  display: block; }
  body.grid ul.column-types:before, body.grid ul.column-types:after {
    content: "";
    display: table; }
  body.grid ul.column-types:after {
    clear: both; }
  body.grid ul.column-types li {
    display: block;
    float: left;
    margin-right: 2.358%;
    width: 31.762%; }
    body.grid ul.column-types li:last-child {
      margin-right: 0; }
    body.grid ul.column-types li img {
      max-width: 100%; }

body {
  background: #fafafa;
  color: #333;
  font-family: "proxima-nova-1","proxima-nova-2", "helvetica neue", sans-serif;
  margin: 50px;
  padding: 0; }

section.container {
  zoom: 1;
  max-width: 75.999em;
  text-align: left;
  margin-left: auto;
  margin-right: auto; }
  section.container:before, section.container:after {
    content: "";
    display: table; }
  section.container:after {
    clear: both; }

a {
  color: #AD141E;
  padding-bottom: 2px;
  position: relative;
  text-decoration: none; }
  a:hover {
    border-bottom: 1px solid #d30; }
  a:after {
    color: #bbb;
    font-size: 12px;
    margin: 0 0 0 10px;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: absolute;
    top: 4px;
    bottom: 0px; }
  a.site:after {
    content: "site"; }
  a.video:after {
    content: "video"; }
  a.article:after {
    content: "article"; }
  a.book:after {
    content: "book"; }
  a.app:after {
    content: "app"; }
  a.code:after {
    content: "code"; }

header {
  margin: 0 0 100px 0; }
  header h2 {
    font-size: 56px;
    font-weight: 100;
    margin: 0 0 10px 0; }

h1 {
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px; }

.column {
  display: block;
  float: left;
  margin-right: 2.358%;
  width: 48.821%; }
  .column:last-child {
    margin-right: 0; }

h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 10px 0; }

ul {
  list-style: none;
  margin: 0 0 42px 0;
  padding: 0; }
  ul li {
    font-size: 18px;
    font-weight: normal;
    margin: 0 0 10px 0;
    position: relative; }
    ul li.star:before {
      content: "★";
      display: block;
      position: absolute;
      top: 2px;
      left: -1.5em;
      font-size: 10px;
      color: #aaa; }
