<!DOCTYPE HTML>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Description" name="Description" content="{{ page.meta_description }}" />
    <meta http-equiv="Keywords" name="Keywords" content="{{ page.meta_keywords }}" />
    <title>{{ page.title }}</title>
    <script type="text/javascript" src="//use.typekit.net/goi6gvo.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <link rel="stylesheet" href="stylesheets/screen.css" />
  </head>

	<header>
	  <hgroup>
			<a href="/">
		    <h1>Design for Developers</h1>
		    <h2>Resources &amp; Reading List</h2>
			</a>
	  </hgroup>
	</header>


  <body class="{{ page.keyword }}">
    <section class="container">


      <section>
        {{ content }}
      </section>

      <aside>
        <ul>
					<li class="trail-map"><a href="#">thoughtbot<br/>trail-maps</a></li>
          <li>
            <h2>Workshop Cheatsheets</h2>
            <ul>
              <li><a href="/d4d-resources/principles.html">Principles</a></li>
              <li><a href="#">Grid</a></li>
              <li><a href="#">Typography</a></li>
              <li><a href="#">Color</a></li>
            </ul>
          </li>
        </ul>
      </aside>

    </section>

		<div id="sign-up">
			<a href="#"><h3>Sign up for the next Design for Developers</h3>
		</div>



  </body>
</html>
