<!DOCTYPE HTML>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Description" name="Description" content="{{ page.meta_description }}" />
    <meta http-equiv="Keywords" name="Keywords" content="{{ page.meta_keywords }}" />
    <title>{{ page.title }}</title>
    <link href='http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold&subset=latin' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="stylesheets/screen.css" />
  </head>

  <body>
    <section>
      {{ content }}
    </section>
  </body>
</html>
