<!DOCTYPE HTML>
<html lang="en-US">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Description" name="Description" content="{{ page.meta_description }}" />
    <meta http-equiv="Keywords" name="Keywords" content="{{ page.meta_keywords }}" />
    <title>{{ page.title }}</title>
    <script type="text/javascript" src="//use.typekit.net/goi6gvo.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
    <link rel="stylesheet" href="stylesheets/screen.css" />
  </head>

  <body class="{{ page.keyword }}">
    <header class="title">
      <hgroup>
        <a href="/d4d-resources">
          <h1>Design for Developers</h1>
          <h2>Resources &amp; Reading List</h2>
        </a>
      </hgroup>
    </header>

    <section class="container">
      <section class="content-container">
        {{ content }}
      </section>

      <aside>
        <ul>
          <li>
            <h2>Workshop Cheatsheets</h2>
            <ul>
              <li><a href="/d4d-resources/principles.html">Principles</a></li>
              <li><a href="/d4d-resources/grid.html"</a>Grid</li>
              <li><a href="/d4d-resources/typography.html"</a>Typography</li>
              <li><a href="/d4d-resources/color.html">Color</a></li>
            </ul>
          </li>

          <li>
            <h2>D4D Links</h2>
            <ul class="self-promo">
              <li><a href="http://learn.thoughtbot.com">Learn at thoughtbot</a></li>
              <li><a href="https://learn.thoughtbot.com/courses/2-design-for-developers">Take the Design for Developers Course</a></li>
            </ul>
          </li>
        </ul>

      </aside>

    </section>

    <!-- <footer> -->
    <!--   <a href="https://learn.thoughtbot.com/courses/2-design-for-developers">Take the Design for Developers Course</a> -->
    <!-- </footer> -->
  </body>
</html>
